* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.9;
  min-height: 100%;
  padding: 0;
  background-color: #ecc9f7;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url("assets/img/pink.jpg");
  box-shadow: 0px 0px 60px 10px rgba(145, 11, 185, 0.6);
}
.section {
  max-width: 1000px;
  margin: 0 auto;
}
nav {
  max-width: 1000px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}
html {
  scroll-behavior: smooth; 
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section {
  width: 45%;
  padding: 20px;
  border-bottom: 1px solid #910bb9;
  align-content: center;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.link {
  text-decoration: none;
  color: #4f0864;
  transition: color 0.5s;
  
}
.nav-list a:hover {
  color: #3de957;
}
.nav-list .link {
  border: 3px solid rgba(145, 11, 185, 0.6);
  padding: 5px;
  border-radius: 10%;
}
.color-border img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}
.color-border {
  width: 210px;
  margin: 50px auto 0;
  padding: 5px;
  background: rgba(145, 11, 185, 0.6);
  border-radius: 50%;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  margin-top: 20px;
}
.footer-container img {
  width: 80%;
}
.email {
  list-style: none;
  list-style-image: url(assets/svg/email.png);
}
.telegram {
  list-style: none;
  list-style-image: url(assets/svg/telegram.png);
}
.github {
  list-style: none;
  list-style-image: url(assets/svg/github.png);
}
.discord {
  list-style: none;
  list-style-image: url(assets/svg/discord.png);
}
.snippet {
  margin-left: -50px;
  margin-bottom: -50px;
  color: #4f0864;
}
#welcome {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
#contacts {
  margin-top: 50px;
}
.section-title {
  text-align: center;
}
ul {
  margin-left: 40px;
}
.skills-list, .courses-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -50px;
}
.indent {
  margin-top: 40px;
}
.color-text {
  color: #910bb9;
}
.main {
  border-bottom: 1px solid #910bb9;
  border-top: 1px solid #910bb9;
}
.section-experience, .section-languages {
  width: 45%;
  padding: 20px;
  align-content: center;
  padding-left: 40px;
}