* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ecc9f7;
  max-width: 1440px;
  margin: 0 auto;
}
.section {
  max-width: 1440px;
  margin: 0 auto;
}
nav {
  max-width: 1000px;
  margin-left: 180px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}
html {
  scroll-behavior: smooth; 
}
.main {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.link {
  text-decoration: none;
  color: #b810eb;
  transition: color 0.5s;
  
}
.nav-list a:hover {
  color: #3de957;
}
.nav-list .link {
  border: 3px solid #b810eb;
  padding: 5px;
  border-radius: 10%;
}
.color-border img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}
.color-border {
  width: 210px;
  margin: 50px auto 0;
  padding: 5px;
  background: #b810eb;
  border-radius: 50%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
}
.footer-container img {
  width: 80%;
}
.email {
  list-style: none;
  list-style-image: url(assets/svg/email.png);
}
.telegram {
  list-style: none;
  list-style-image: url(assets/svg/telegram.png);
}
.github {
  list-style: none;
  list-style-image: url(assets/svg/github.png);
}
.discord {
  list-style: none;
  list-style-image: url(assets/svg/discord.png);
}